mule-test-app/target/META-INF/mule-src/mule-test-app/src/main/mule/test-app.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <http:listener-config name="HTTP_Listener_config">
        <http:listener-connection host="0.0.0.0" port="8081"/>
    </http:listener-config>

    <flow name="hello-flow">
        <http:listener config-ref="HTTP_Listener_config" path="/hello"/>
        <set-payload value="Hello from Mule 4.9 on Java 17!"/>
    </flow>

    <flow name="health-flow">
        <http:listener config-ref="HTTP_Listener_config" path="/health"/>
        <set-payload value="#[output application/json
import java!java::lang::System
---
{
  status: 'UP',
  java: System::getProperty('java.version')
}]"/>
    </flow>

</mule>